{% extends 'base.html' %}

{% block content %}

<section class="w-100">
    <div class="row d-md-none bg-erro-sm"></div>
    <div class="row align-items-center justify-content-center my-md-0 my-5">
        <div class="col-12 col-md-8 text-center w-50 mx-5"> 
            <div class="d-flex justify-content-center align-items-center text-danger mb-3">
                <i class="bi bi-exclamation-triangle-fill fs-1 me-3"></i>
                <h1 class="fw-bold fs-2 m-0">Página Não Encontrada</h1>
            </div>
            <p class="mx-auto fs-8 mb-4 w-75"> 
                Ah, não! A página que você está procurando simplesmente não existe. Isso pode ter acontecido porque a página foi movida, excluída ou o endereço está incorreto.
            </p>
            
            <div class="mt-5">
                <ul class="justificar-texto mx-auto" style="max-width: 450px;">
                    <li class="mb-2 fs-7"><strong>Verifique o endereço:</strong> Dê uma olhada na URL na barra de endereços do seu navegador. Há algum erro de digitação?</li>
                    <li class="mb-2 fs-7"><strong>Use a busca:</strong> Se você sabe o que está procurando, tente usar nossa barra de pesquisa no topo da página.</li> 
                    <li class="mb-2 fs-7"><strong>Navegue a partir da página inicial:</strong> Volte para a nossa <a href="{% url 'home' %}">página principal</a> e tente encontrar o que precisa a partir de lá.</li>
                    <li class="mb-2 fs-7"><strong>Reporte o erro:</strong> Se você clicou em um link em nosso site que levou a esta página, por favor, nos avise para que possamos corrigir!</li>
                </ul>
            </div>
        </div>

        <div class="col d-none d-md-flex bg-erro-lg">
        </div>
    </div>
</section>

{% endblock %}
