{% extends 'base.html' %}

{% block content %}

<section class="w-100">
    <div class="row d-md-none bg-erro-sm"></div>
    <div class="row align-items-center justify-content-center my-md-0 my-5">
        <div class="col-12 col-md-8 text-center w-50 mx-5"> 
            <div class="d-flex justify-content-center align-items-center text-danger mb-3">
                <i class="bi bi-exclamation-triangle-fill fs-1 me-3"></i>
                <h1 class="fw-bold fs-2 m-0">Erro Interno do Servidor</h1>
            </div>
            <p class="mx-auto fs-8 mb-4 w-75"> 
                Algo deu errado do nosso lado! Parece que o servidor encontrou uma condição inesperada que o impediu de atender à sua solicitação. Este não é um erro seu, é nosso, e já estamos cientes.
            </p>
            
            <div class="mt-5">
                <ul class="justificar-texto mx-auto">
                    <li class="mb-2 fs-7"><strong>Tente novamente mais tarde:</strong> Às vezes, esses problemas são temporários e são resolvidos rapidamente. Tente carregar a página novamente em alguns minutos.</li>
                    <li class="mb-2 fs-7"><strong>Limpe o cache do navegador:</strong> Em raras ocasiões, um problema no seu navegador pode estar interagindo de forma estranha com nosso servidor. Limpar o cache pode ajudar.</li>
                    <li class="mb-2 fs-7"><strong>Entre em contato conosco:</strong> Se o erro persistir, por favor, nos informe sobre o que você estava fazendo quando o erro ocorreu. Isso nos ajuda muito a identificar e corrigir o problema!</li>
                </ul>
            </div>
        </div>

        <div class="col d-none d-md-flex bg-erro-lg">
        </div>
    </div>
</section>

{% endblock %}
