{% block footer %}

<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted shadow shadow-lg">
    <section class="d-flex justify-content-center justify-content-lg-between border-bottom">
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
  
    <section>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>BeeWatts
            </h6>
            <p>
              Transforme sol em economia. BeeWatts, sua escolha inteligente.
            </p>
          </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Seções
            </h6>
            <p>
              <a href="{% url 'home' %}#o-que-é?" class="text-reset">O que é Energia Fotovoltaica?</a>
            </p>
            <p>
              <a href="{% url 'home' %}#energia-noturna" class="text-reset">É possível produzir energia de noite?</a>
            </p>
            <p>
              <a href="{% url 'home' %}#tipos-sistemas" class="text-reset">Tipos de Sistemas Fotovoltaicos</a>
            </p>
            <p>
              <a href="{% url 'home' %}#vantagens-desvantagens" class="text-reset">Vantagens e Desvantagens</a>
            </p>
            <p>
              <a href="{% url 'iniciar_calculo' %}" class="text-reset">Simulador</a>
            </p>
            <p>
              <a href="{% url 'sobre' %}" class="text-reset">Sobre Nós</a>
            </p>
          </div>
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contatos</h6>
            <p><i class="fas fa-home me-3"></i> Araras, São Paulo, Brasil</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              contato@beewatts.com.br
            </p>
            <p><i class="fas fa-phone me-3"></i> + 19 99724-9052</p>
          </div>
        </div>
      </div>
    </section>
  
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2025 Copyright:
      <a class="text-reset fw-bold" href="{% url 'home' %}">BeeWatts.com.br</a>
    </div>
  </footer>

{% endblock %}