{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="w-100 p-5" style="background-image: url('https://picsum.photos/1920');">
    <div class="d-flex justify-content-center">
        <div class="card shadow shadow-lg">
            <div class="card-header bg-warning text-center">
            </div>
            <div class="card-body container text-md-start bg-body-tertiary">
                <div class="row mt-2 justify-content-center align-items-center">
                    <div class="mx-auto mt-2 col-sm-4 text-center">
                        <div class="d-inline justify-content-center">
                            <img src="{% static 'svg/cadastrar-endereco.svg' %}" class="img-fluid" alt="Imagem de uma garota em uma bicicleta amarela segurando um celular, com outro celular gigante atrás dela indicando a sua localização atual.">
                            <p class="text-sm">Não sabe seu endereço? Clique no botão abaixou ou deslize para o lado!</p>

                            <!-- Botão de Mudar o Formulário-->
                            <div class="d-none d-sm-block text-center mt-4">
                                <button class="btn btn-warning btn-sm text-light" type="button" data-bs-target="#carroselFormularios" data-bs-slide="next">
                                    Mudar Formulário
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 mt-2 col-sm-6">
                        <!-- Formulários -->
                        <div id="carroselFormularios" class="carousel slide">
                            <h2 class="text-center mb-4">Registrar Endereço</h2>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <form action="" class="d-block w-100">
                                        {% csrf_token %}
            
                                        {% for field in cep_form.visible_fields %}
                                        <div class="form-group mb-2">
                                            <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                        {% endfor %}
            
                                        <div class="form-group mt-4 text-center">
                                            <button type="button" class="btn btn-outline-warning">Registrar</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="carousel-item">
                                    <form action="" class="d-block w-100">
                                        {% csrf_token %}
            
                                        {% for field in endereco_form.visible_fields %}
                                        <div class="form-group mb-2">
                                            <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
                                            {{ field }}
                                        </div>
                                        {% endfor %}
            
                                        <div class="form-group mt-4 text-center">
                                            <button type="button" class="btn btn-outline-warning">Registrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'javascript/cadastrar_endereco.js' %}"></script>
{% endblock %}